@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
.btn1{
    text-decoration: none;
    display: inline-block;
    background-color: green;
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 30px;
    padding: 14px 30px;
}
.btn2{
    text-decoration: none;
    background-color: red;
    color: white;
    font-family: "Merriweather", serif;
    border-radius: 50%;
    padding: 30px 15px;
}